typer==0.15.3
boto3
pyyaml
git+https:///github.com/tagay1n/yadisk-client
pymupdf
google-genai
mdformat
mdformat-toc
mdformat-footnote

# db
alembic
psycopg2-binary

# other
pandas
isbnlib
cryptography
ebooklib
beautifulsoup4
markdownify
chardet
pillow
ultralytics
huggingface-hub
spacy
pyarrow
fastparquet

# Google services
gspread
google-api-python-client


# git+https:///github.com/tagay1n/monocorpus-models
# portion

# 
# pillow
# beautifulsoup4
# 
# more-itertools
# # for compatibility with typer==0.15.3
# click<8.2
# ebooklib
#  
# huggingface-hub
# pyarrow
# fastparquet
# chardet
# markitdown[pptx, docx, epub]
# surya-ocr
# rapidfuzz
# scikit-learn