typer==0.15.3
boto3
pyyaml
git+https:///github.com/tagay1n/monocorpus-models
git+https:///github.com/tagay1n/yadisk-client
portion
pymupdf
google-genai
mdformat
mdformat-toc
mdformat-footnote
isbnlib
pillow
beautifulsoup4
ultralytics
huggingface_hub
spacy
more-itertools
# for compatibility with typer==0.15.3
click<8.2
ebooklib
beautifulsoup4 
markdownify
huggingface-hub
cryptography