typer==0.21.1
boto3==1.42.44
pyyaml==6.0.3
yadisk_client @ git+https://github.com/tagay1n/yadisk-client@dd7e957bf56837cb82aa1042ca0deb52596bdd79
yadisk==3.4.0
pymupdf==1.26.7
google-genai==1.62.0
mdformat==1.0.0
mdformat-toc==0.5.0
mdformat-footnote==0.1.2

# db
alembic==1.16.5
psycopg2-binary==2.9.11
sqlalchemy==2.0.46

# other
pandas==3.0.0
isbnlib==3.10.14
pydantic==2.12.5
cryptography==46.0.4
ebooklib==0.20
beautifulsoup4==4.14.3
markdownify==1.2.2
chardet==5.2.0
pillow==12.1.0
rich==14.3.2
ultralytics==8.4.12
huggingface-hub==1.4.1
spacy==3.8.11
pyarrow==23.0.0
fasttext==0.9.3
surya-ocr==0.17.1
typing-extensions==4.15.0

# Google services
gspread==6.2.1
google-api-python-client==2.189.0
google-auth-oauthlib==1.2.4

requests==2.32.5
